.modal-button{
    color: white;
    background-color: #007AFF;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: calc(1svh)
 calc(18vw) calc(1svh)
 calc(18vw);
    border-radius: 15px;
    cursor: pointer;
}
.modal-button:hover{
    background-color: grey;
    transition: 0.3s;
}
.modal-button-footer{
    color: white;
    background-color: #007AFF;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: calc(1svh)
 30% calc(1svh)
 30%;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.modal-button-footer:hover{
    background-color: grey;
    transition: 0.3s;
}
.modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.modal-body{
    color: #007AFF;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.3rem;
}
.modal-teacher-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-teacher-title{
    font-weight: 500;
}
.modal-teacher-phone-choice{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-class-difficulty-ratings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}
.modal-teacher-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-phone-Yes{
    color: #00FF11;
}
.modal-phone-No{
    color: #FF0000;
}
.modal-phone-Sometimes{
    color: #FFD900;
}


.modal-comment{
    width: 100%;
    border-radius: 15px;
    border-color: #007AFF;
    font-size: 1rem;
    padding: calc(1svh)
;
    height: calc(10svh)
;
}
.modal-comment::placeholder{
    font-size: 1rem;
}
.class-difficulty-rating, .modal-phone{
    border: 1.5px solid #007AFF;
    padding: calc(1svh)
 calc(4vw) calc(1svh)
 calc(4vw);
    border-radius: 15px;
    cursor: pointer;
    color: #007AFF;
}
.modal-phone{
    padding: calc(1svh)
 calc(3vw) calc(1svh)
 calc(3vw);
}
.difficulty-rating-active, .modal-phone-active{
    color: white;
    background-color: #007AFF;
    transition: 0.3s;
}
@media screen and (min-width: 1400px){
    .class-difficulty-rating, .modal-phone{
        padding: calc(1svh)
 calc(1vw) calc(1svh)
 calc(1vw);
    }
}
