.details-wrapper{
    width: calc(100vw);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(90svh)
;
    height: 100%;
}
.teacher-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #007AFF;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 4%;
}
.teacher-header-text{
    margin: calc(1vw);
}
.phone-info{
    width: calc(90vw);
    background-color: #007AFF;
    border-radius: 15px;
    margin-top: 5%;
    padding: calc(1svh)
;
}
.difficulty-info{
    margin-top: calc(3svh)
;
    background-color: #007AFF;
    width: calc(90vw);
    border-radius: 15px;
    padding: calc(1svh)
;
}

.report-text-title, .difficulty-title{
    margin-left: 5%;
    font-weight: bold;
    color: white;
    margin-top: calc(1svh)
;
    margin-bottom: calc(1svh)
;
}
.very-easy{
    color: #00FF11;
}
.easy{
    color: #BBFF00;
}
.medium{
    color: #FFD900;
}
.hard{
    color: #FF6200;
}
.very-hard{
    color: #FF0000;
}

.allowed{
    color: #00FF11;
}
.somewhat-allowed{
    color: #FFD900;
}
.report-text, .difficulty-text{
    margin: calc(1vw);
    margin-left: 5%;
    color: white;
}
.not-allowed{
    margin-bottom: calc(1svh)
;
}
.asses-buttons{
    margin-top: calc(3svh)
;
    display: flex;
    flex-direction: column;
    gap: calc(1svh)
;
    margin-bottom: 4%;
}
.asses-button{
    background-color: #007AFF;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    padding: calc(1svh)
 calc(3vw) calc(1svh)
 calc(3vw);
}
.asses-button:hover{
    background-color: grey;
    transition: 0.3s;
}
@media screen and (min-width: 1401px){
    .comment-button{
        margin-bottom: calc(3svh)
;
        width: 100% !important;
    }
    .difficulty-info, .phone-info{
        width: 38%;
        border-radius: 15px;
    }
    .difficulty-text, .report-text, .report-text-title{
        margin-left: 5%;
    }
    .phone-info{
        margin-top: 0;
    }
    .teacher-header{
        padding: 0 2% 0 2%;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) and (min-height: 700px) and (max-height: 800px){
    .comment-button{
        width: 100% !important;
    }
    .difficulty-info, .phone-info{
        width: 40%;
        border-radius: 15px;
    }
    .phone-info{
        margin-top: 0;
    }
    .difficulty-text, .report-text, .report-text-title{
        margin-left: 5%;
    }
}