.comments-row{
    height: 30vh !important;
}
.leave-comment-button{
    margin: 0 auto;
    color: white;
    background-color: #007AFF;
    padding: 2vh;
    border-radius: 15px;
    font-size: 1.3rem;
}
.leave-comment-button:hover{
    background-color: gray;
    transition: 0.3s;
}
.wrapper{
    width: 100vw;
    display: flex;
    margin-top: 3vh;
}