.comments-row{
    height: calc(30svh)
 !important;
}
.leave-comment-button{
    margin: 0 auto;
    color: white;
    background-color: #007AFF;
    padding: calc(2svh)
;
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}
.leave-comment-button:hover{
    background-color: gray;
    transition: 0.3s;
}
.wrapper{
    width: calc(100vw);
    display: flex;
    margin-top: calc(3svh)
;
}
.no-comments{
    font-size: 1.5rem;
    margin: 0 auto !important;
}
.no-comments-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}