.comment-outer-wrapper{   
    padding: calc(1svh)
;
    background-color: white !important;
}
.comment-wrapper{
    border: 2px solid black !important;
    min-height: calc(10svh)
 !important;
    padding: calc(1svh)
;
    height: 100% !important; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}
.comment-header{
    width: 100%;
    font-weight: 500;
    font-size: 1.0rem;
    padding-bottom: 0;
    display: flex !important;
    justify-content: space-between !important;
}
.comment-date{
    font-weight: normal;
    font-size: 1.2rem;
    padding-right: calc(3vw);
    padding-top: calc(0.5svh)
;
}
.comment-content{
    margin-left: 3%;
}


