.navbar{
    width: 100vw;
    background-color: #007AFF;
    color: white;
}
.navbar-brand{
    font-weight: bold;
    color: white !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: rgb(251, 191, 52) !important;
    transition: 0.3s;
}