.log-in-wrapper{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: calc(94vw);
    border-radius: 30px;
}
.log-in-text{
    margin: 0 auto;
   margin-top: calc(8svh)
;
   padding-bottom: calc(6svh)
;
   font-size: 2.5rem;
   font-weight: bold;
}
.form{
    border-radius: 5px;
    display: flex;
    padding: calc(1svh)
;
    padding-top: calc(3svh)
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007AFF;
    color: white;
    font-size: 1.3rem;
}
.log-in-input{
    border-radius: 15px;
    border: none;
    margin-bottom: calc(2svh)
;
}
.password-input{
    border-radius: 15px;
    border: none;
    margin-bottom: calc(0svh)
;
}
.sign-in-button{
    margin-top: calc(2svh)
;
    border-radius: 15px;
    background-color: white;
    border: none;
    padding: calc(1svh)
 calc(27vw) calc(1svh)
 calc(27vw);
    color: #007AFF;
}
.sign-in-button:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}
.switch-option-text{
    font-size: 1.15rem;
    margin-top: calc(3svh)
;
    text-decoration: underline;
}
.password-requirenment-text{
    font-size: 1rem;
    margin: 0;
    color: rgb(255, 255, 255);
    margin-top: calc(0.5svh)
;
}
.select-log-in{
    cursor: pointer;
    text-decoration: none;
}
.select-log-in:hover{
    color: grey;
}
@media screen and (min-width: 600px){
    .log-in-wrapper{
        width: calc(30vw);
    }
    .log-in-text{
        font-size: 4rem;
    }
    .sign-in-button{
        padding: calc(1svh)
 calc(5.3vw) calc(1svh)
 calc(5.3vw);
    }
    .log-in-input{
        border-radius: 15px;
        border: 3px solid white;
        padding: calc(1svh)
;
        margin-bottom: calc(2svh)
;
    }
    .password-input{
        border-radius: 15px;
        border: 3px solid white;
        padding: calc(1svh)
;
        margin-bottom: calc(0svh)
;
    }
    .aspen-text{
        font-size: 1rem;
    }
}